.content {
    margin-top: 16px;
    height: calc(100vh);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
