.side_bar {
    height: 100%;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 200px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.side_bar__open {
    transform: translateX(0%); 
}

.side_bar__close {
    height: 36px;
    width: 40px;
    margin: 5px 5px;
    text-align: center;
    border: 5px solid whitesmoke;
    border-radius: 5px;
    box-sizing: border-box;  
}

.side_bar__close:hover,
.side_bar__close:active {
    border: 5px solid transparent;
}

.side_bar__close > span {
    font-size: 1.1rem;
    font-weight: bold;
    color: whitesmoke;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.side_bar__close > span:hover,
.side_bar__close > span:active {
    cursor: pointer;
}

.side_bar ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side_bar li {
    margin: 0.5rem 0;
}

.side_bar li > input {
    display: none;
}

.side_bar__link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.side_bar__link_submenu {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.side_bar__link:hover,
.side_bar__link:active,
.side_bar__close > span:hover,
.side_bar__close > span:active {
    color: #fa923f;
}

.sidebar__dropdown_container {
  position: relative;
}

.sidebar__dropdown_container > span {
  color: #fff;
  cursor: context-menu;
  font-size: 1.2rem;
}
.sidebar__dropdown_container > span svg {
  cursor: context-menu;
  height: 16px;
  width: 12px;
}

.sidebar__dropdown_container ul {
  position: absolute;
  display: list-item;
  max-height: 0px;
  height: 0px;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: black;
  background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sidebar__dropdown_container ul hr {
  margin: 0 2px;
  color: white;
}

.sidebar__dropdown_container:hover ul {
  height: 170px;
  max-height: 170px;
}

.sidebar__dropdown_container ul li {
  color: white;
  display: block;
  cursor: pointer;
}

@media (min-width: 769px) {
    .side_bar {
        display: none;
    }
}
