.Table {
  margin-top: 10px;
  background-color: #17a2b8;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-height: 500px;
  overflow-y: scroll;
}

.HeaderCol {
  background-color: #17a2b8;
  text-align: center;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
  font-weight: bold;
  color: white;
}

.BodyCol {
  background-color: #17a2b8;
  text-align: center;
  margin: 5px 0;
  color: white;
}

svg {
  margin: 0 5px;
}
svg:hover {
  cursor: pointer;
}

.hiddenDiv {
  display: none;
}
